body {
  width: 315px;
  background-color: #eeeeee;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: center left 10px no-repeat;
  background-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  padding: 0 10px 0 34px;
  height: 26px;
}
li[data-window=true] {
  background-image: url('window.png');
}
li span {
  border-left: 1px solid  #dddede;
  box-shadow: inset 1px 0 0 #fff;
  align-items: center;
  text-indent: 0;
  pointer-events: none;
  padding-left: 7px;
  display: flex;
  width: 100%;
  align-items: center;
}
li span label {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
li:not([data-disabled=true]):hover {
  background-color: rgba(0, 0, 0, 0.05);
}
li:not([data-disabled=true]):hover>span {
  border-left-color: transparent;
}
li>div {
  display: inline-block;
  width: 32px;
  height: 100%;
  background: url('window.png') center center no-repeat;
}
li>div:not([data-id]) {
  display: none;
}
li[data-disabled=true] {
  color: #cecfcf;
}
.separator {
  border-top: 1px solid  #dddede;
  box-shadow: inset 1px 1px 0 #fff;
  height: 1px;
  display: block;
  margin: 2px 0;
  margin-left: 35px;
}
.menu {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 5px 0 0 0;
}
.tools {
  margin: 0 0 5px 0;
}

body[data-firefox=true] [data-cmd="open-history"] {
  display: none;
}
body[data-firefox=false] [data-cmd="forget-tabs"] {
  display: none;
}
